* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}
header {
    background: url('top_header_bar_item.png') repeat-x;
    display: flex;
    justify-content: space-between;
}
.logo {
    margin-left: 100px;
    margin-top: 20px;
}
.logo a span{
    color: white;
    text-align: center;
    font-size: 25px;
}
.button {
    width: 20px;
    height: 20px;
    background: url('ic_search.png') no-repeat center center;
    border: none;
    margin-top: 32px;
    margin-left: 24px;
}
.menu {
    display: flex;
    padding-top: 25px;
    padding-bottom: 25px;
}
.menu li a {
    color: white;
    padding: 10px;
}
.menu li:hover a {
    background: #528b86;
    border-radius: 8px;
    padding: 10px;
}
.menu li {
    margin-left: 20px;
    margin-top: 10px;
}
.nav-search {
    display: flex;
}
.search {
    margin-right: 70px;
}
.menu .por:hover {
    background: #e8645a;
    border-radius: 8px;
}
.menu .por:hover .sub-menu {
    background: #e8645a;
    border-radius: 8px;
    display: block;   
}
.sub-menu {
    display: none;
    position: absolute;
    margin-top: 19px;
    margin-left: -16px;
}
.sub-menu li a{
    background: #f99;
    margin: 3px;
    border-radius: inherit;
}
.sub-menu::before {
    content: '';
    position: absolute; 
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom-color: #e8645a;  
    top: -17%;
    left: 7%;
}
.sub-menu li:hover a{
    background: #f99;
}
.sub-menu li {
    margin: 0px;
    padding: 0px;
    margin-top: 17px;
    margin-bottom: 22px;
}
